/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading-spinner {
  padding: 25px;
  //background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

mat-card {
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
}

mat-card-content{
  margin-top: 20px;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 180px;
}

.action-column-header {
  margin: 0 auto;
}
