
<mat-card>
  <mat-card-content>
    <p>
      <mat-toolbar color="primary">
        <span>Usuários</span>
      </mat-toolbar>
    </p>

    <div class="column-flex mat-elevation-z8">
      <app-users-list *ngIf="users$ | async as users; else loading" [users]="users">

      </app-users-list>

      <ng-template #loading>
        <div class="loading-spinner">
          <mat-spinner strokeWidth="3" [diameter]="32"></mat-spinner>
        </div>
      </ng-template>
    </div>
    </mat-card-content>
</mat-card>
