<mat-table [dataSource]="users">
  <ng-container matColumnDef="login">
    <mat-header-cell *matHeaderCellDef> Login </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.login }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.firstName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.lastName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <mat-icon aria-hidden="false" aria-label="User phone" fontIcon="phone"></mat-icon>
      {{ user.phone }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button mat-mini-fab color="primary" class="action-column-header" aria-label="Adicionar Usuário" (click)="onAdd()" title="Adicionar Usuário">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let user" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar Usuário" (click)="onEdit(user)" title="Editar Usuário">
        <mat-icon>edit</mat-icon>
      </button>

      <!--
      <button mat-icon-button color="primary" aria-label="Carros" (click)="onShowCars(user)" title="Carros">
        <mat-icon>commute</mat-icon>
      </button>
      -->

      <button mat-icon-button color="warn" aria-label="Remover Usuário" (click)="onDelete(user)" title="Remover Usuário">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
