<mat-card>
  <mat-toolbar color="primary">Novo Carro</mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Ano de Fabricação</mat-label>
        <input matInput placeholder="Year" formControlName="year" #year>
        <mat-hint align="end">{{ year.value.length }}/4</mat-hint>
        <mat-error *ngIf="form.get('year')?.invalid">{{ getErrorMessage('year') }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Placa</mat-label>
        <input matInput placeholder="Placa" formControlName="licensePlate" #licensePlate>
        <mat-hint align="end">{{ licensePlate.value.length }}/10</mat-hint>
        <mat-error *ngIf="form.get('licensePlate')?.invalid">{{ getErrorMessage('licensePlate') }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Modelo</mat-label>
        <input matInput placeholder="Modelo" formControlName="model" #model>
        <mat-hint align="end">{{ model.value.length }}/60</mat-hint>
        <mat-error *ngIf="form.get('model')?.invalid">{{ getErrorMessage('model') }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Cor</mat-label>
        <mat-select formControlName="color">
          <mat-option value="null"> </mat-option>
          <mat-option value="Red">Vermelho</mat-option>
          <mat-option value="Yellow">Amarelo</mat-option>
          <mat-option value="Blue">Azul</mat-option>
          <mat-option value="White">Branco</mat-option>
          <mat-option value="WineRed">Vinho</mat-option>
          <mat-option value="Black">Preto</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('color')?.invalid">{{ getErrorMessage('color') }}</mat-error>
      </mat-form-field>
    </form>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSave()">Salvar</button>
      <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
