<mat-card>
  <mat-card-content>
    <p>
      <mat-toolbar color="primary">
        <span>Carros</span>
      </mat-toolbar>
    </p>

    <div class="column-flex mat-elevation-z8">
      <app-cars-list *ngIf="cars$ | async as cars; else loading" [cars]="cars"
      (add)="onAdd()"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      >

      </app-cars-list>

      <ng-template #loading>
        <div class="loading-spinner">
          <mat-spinner strokeWidth="3" [diameter]="32"></mat-spinner>
        </div>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
